<!DOCTYPE HTML>
<!--suppress CheckEmptyScriptTag -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Equidistant Letter Sequences</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Max: ' + ${max} "/>
<p th:text="'Range ' + ${range} "/>
<p th:text="'Number of resuts ' + ${wordSearchResults.size()} "/>
<div>
    <div th:each="wordSearchResult : ${wordSearchResults}">
        <h3 th:text="'Interval:  ' + ${wordSearchResult.interval} + ' - Starting at: ' + ${wordSearchResult.firstLetter}"></h3>
        <h4>Matrix</h4>
        <table style="font-family: 'Courier New',monospace">
            <tr th:each="enclosing: ${wordSearchResult.enclosings}">
                <td style="font-weight: normal" th:text="${enclosing.right}"></td>
                <td style="font-weight: bold" th:text="${enclosing.middle}"></td>
                <td style="font-weight: normal" th:text="${enclosing.left}"></td>
            </tr>
        </table>
        <h4>Verses</h4>
        <table>
            <tr th:each="verse : ${wordSearchResult.verses}">
                <td th:text="${verse}"/>
            </tr>
        </table>
    </div>
</div>

</body>
</html>